* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#arrow-right {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ----------header-section-responsive-style---------- */
header > .icon {
  position: absolute;
  font-size: 60px;
  right: 5%;
  cursor: pointer;
  display: none;

  i {
    font-size: 48px;
  }
}

header > #check {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .left-box {
      width: 100%;
      padding-top: 40px;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .right-box {
      width: 100%;
    }
  }

  header > .icon {
    display: block;

    #close-icon {
      display: none;
    }
  }

  .header .navbar {
    width: 70%;
    height: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0.5rem 1rem rbna(0, 0, 0, 1);
    transition: 0.3s ease;
    overflow: hidden;

    ul {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  #check:checked ~ .icon #menu-icon {
    display: none;
  }

  #check:checked ~ .icon #close-icon {
    display: block;
  }

  #check:checked ~ .navbar {
    height: 25rem;
  }
}
